/tmp
/out-tsc

/node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.pnp
.pnp.js

.vscode/*

storageState.json
/src/config/env.json
/allure-results
/playwright-report
/test-results
/storage/admin.json
/storage/cookies_state_admin.json
/storage/cookies_state_buyer.json
/storage/cookies_state_vendor.json